body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: auto;
  padding: 0 50px;
}

.gh {
  text-decoration: none;
  color: #4f4f7d;
  position: relative;
}

.title {
  margin-bottom: 4px;
}

.gh::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url('img/github.svg');
  background-repeat: no-repeat;
}

.gh:hover {
    color: SlateBlue;
}

.navigation {
  margin-right: auto;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  flex-wrap: wrap;
  list-style: none;
}

.navigation__list li {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px;
  margin-right: 20px;
}

.navigation__list li:nth-child(2n) {
  background: #e9edf5;
}

.navigation__list a {
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0;
  color: #4f4f7d;
}

.navigation__list a:hover {
  color: SlateBlue;
}

.navigation__title {
  width: 140px;
  align-self: center;
}
